{{define "main"}}<div class="page prose">
  <h1>Activiteiten</h1>
  <h2 id="bijbelstudies">Bijbelstudies</h2>
  <p>U bent van harte welkom, ook als u niet betrokken bent bij de gemeente.</p>
  <p>U kunt (eerdere) studies volgen op ons <a href="https://www.youtube.com/@defonteinmiddelburg">YouTube kanaal</a>.</p>
  <h2 id="vrouwen">Vrouwen</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p>Zie de <a href="/agenda/">agenda</a> voor de data.</p>
</div>{{end}}
