{{define "main"}}<div class="page prose">
  <h1>Ontstaan van het Baptisme</h1>
  <p>Een beknopte samenvatting over het ontstaan en de achtergrond van Baptisten Gemeenten. Voor geïnteresseerden een mooi geschiedenisdocument: <a href="/static/docs/baptisme-historie.pdf">Baptisme</a> (pdf).</p>
  <dl class="timeline">
    <dt>Ca. 30 na Chr.</dt>
    <dd>Johannes de doper doopt zijn volgelingen door ze onder te dompelen in de Jordaan. Ook Christus laat Zich door hem dopen en roept Zijn volgelingen later op om hetzelfde te doen.</dd>
    <dt>1e tot 10e eeuw</dt>
    <dd>In of nabij de meeste kerken bevindt zich een zgn. baptisterium, een doophuis, waar de doop door onderdompeling plaatsvindt. In Italië kwamen deze doophuizen nog voor tot in het midden van de 19e eeuw.</dd>
    <dt>Na 10e eeuw</dt>
    <dd>De doop door onderdompeling raakt langzaam in verval en wordt vervangen door het besprenkelen van babies en jonge kinderen.</dd>
    <dt>16e eeuw</dt>
    <dd>Door de eeuwen heen wordt de doop door onderdompeling niettemin toegepast door een minderheid van de gelovigen. Dit leidt vaak tot hevige vervolging, vooral gedurende de Reformatie.</dd>
    <dt>17e eeuw</dt>
    <dd>In Engeland zijn enkele grote predikers die de doop door onderdompeling toepassen. Grote namen uit die tijd zijn John Bunyan en Charles Spurgeon. Engelse vluchtelingen komen in contact met radicale Nederlandse gelovigen. Eén van de aanvoerders van het Engelse baptisme is John Smith. Voor hem is het niet vanzelfsprekend dat iedereen die in de kerk komt ook een werkelijk gelovige is. Hij wil de kerk van binnenuit hervormen, maar als dat niet mogelijk is scheidt hij zich af en vertrekt met de Pilgrim Fathers naar Holland. Na een verblijf van enkele jaren in Leiden vertrekken ze naar Amerika en stichten een nederzetting.</dd>
    <dt>April 1834</dt>
    <dd>De Duitser Johan Gerhard Oncken heeft als jongeman in Engeland gewoond, komt daar tot geloof en maakt kennis met het baptisme. Terug in Duitsland laat hij zich dopen in de Elbe door de Amerikaanse baptist Barnabas Sears. Hij sticht in Hamburg de eerste baptistengemeente op het Europese vasteland.</dd>
    <dt>Maart 1839</dt>
    <dd>De in 1805 geboren Nederlands Hervormde predikant Johannes Elias Feisser wordt bevestigd als voorganger van de N.H. gemeente te Gasselternijveen.</dd>
    <dt>November 1843</dt>
    <dd>Feisser raakt steeds meer overtuigd dat de doop door onderdompeling op eigen verzoek van de gelovige de enige bijbelse doop is. Ieder die binnen de kerkmuren komt, en als kind gedoopt is, is daarmee niet ook automatisch een gelovige. Hij raakt in conflict met de kerkeraad en wordt uiteindelijk door het Provinciaal Kerkbestuur uit zijn ambt ontzet.</dd>
    <dt>November 1844</dt>
    <dd>De Duitsers Julius Köbner en A.F. Remmers komen namens Oncken’s baptistengemeente in Hamburg kennismaken met Feisser en zijn ideëen. Wellicht hebben zij via rondreizende marskramers of via seizoensarbeiders over hem gehoord. Feisser ontdekt dat vele anderen zijn ideeën delen en hoort voor het eerst de term ‘baptisme’.</dd>
    <dt>Mei 1845</dt>
    <dd>Feisser bezoekt Oncken in Berlijn waarna hij zich mei 1845 door Julius Köbner laat dopen aan de Nijveensche Mond. Zes anderen doen hetzelfde. Zij treden uit de kerk en voegen zich bij de kleine gemeenschap. Feisser wordt na zijn doop gekozen tot voorganger van de eerste Nederlandse Baptisten gemeente (genoemd ‘Gemeente van Gedoopte Christenen’) die vrij spoedig Koninklijke erkenning ontvangt.</dd>
    <dt>Juni 1865</dt>
    <dd>Na een aantal jaren een vrij teruggetrokken bestaan te hebben gehad, waarin hij nog af en toe de kleine gemeenten van Gasselternijveen en Nieuwe Pekela dient, sterft Johannes Elias Feisser.</dd>
    <dt>2e helft 19e eeuw</dt>
    <dd>Vele nieuwe baptistengemeenten ontstaan, vooral in het noorden en westen van Nederland, o.m. in Stadskanaal, Sneek, Groningen, Winschoten, Franeker, Haarlem, Den Haag en Amsterdam.</dd>
    <dt>Januari 1881</dt>
    <dd>Aan de oprichtingsvergadering van de Unie van Gemeenten van Gedoopte Christenen nemen 26 voorgangers en ouderlingen deel. Er is geen gemeenschappelijk belijdenisgeschrift. Wel zijn er gezamenlijke doelen, zoals samenwerking, evangelisatie en opleiding. Binnen en buiten deze Unie zijn op dat moment 608 mensen lid van een baptistengemeente.</dd>
    <dt>Ca. 1900</dt>
    <dd>Het aantal baptistengemeenten in Nederland is gestegen tot ruim 20, met een gezamenlijk ledental van ruim duizend.</dd>
    <dt>1905</dt>
    <dd>In Londen wordt de Baptisten Wereld Alliantie gesticht. De Nederlandse Unie van Gemeenten van Gedoopte Christenen treedt direct toe als lid.</dd>
    <dt>1917</dt>
    <dd>De naam van de Unie wordt veranderd in: Unie van Baptistengemeenten in Nederland.</dd>
    <dt>1923-1925</dt>
    <dd>Zes nieuwe baptistengemeenten worden gesticht in 3 jaar tijd: Delfzijl, Hoogezand en Drachten in 1923, Utrecht in 1924 en Eindhoven in 1925.</dd>
    <dt>1925</dt>
    <dd>De Nederlandse Baptisten Jeugd Beweging (NBJB) wordt opgericht, om het kontakt tussen jeugdleiders en jeugd van de diverse gemeenten te bevorderen.</dd>
    <dt>1930-1940</dt>
    <dd>Het aantal gemeenteleden in de Friese baptistengemeenten stijgt in 10 jaar van ca. 600 tot ca. 1000.</dd>
    <dt>1935-1940</dt>
    <dd>Het aantal gemeenteleden in Nederland stijgt in 5 jaar van ca. 4500 tot ruim 5200.</dd>
    <dt>1941-1946</dt>
    <dd>Het aantal gemeenteleden in Nederland stijgt in 5 jaar van ruim 5200 tot bijna 6000. In Amsterdam ontstaat in deze periode een grote onafhankelijke baptistengemeente die binnen 5 jaar na oprichting 130 leden telt.</dd>
    <dt>Juli 1946</dt>
    <dd>Vanwege de oorlog één jaar te laat wordt in Feissers oude gemeente te Stadskanaal het honderdjarig bestaan van de baptistengemeenten in Nederland gevierd. Namens de Baptisten Wereld Alliantie is de Deen dr. Bredahl Petersen aanwezig bij het jubileum. Maar ook de bijna 100-jarige Jannes Reiling is aanwezig, de zoon van één van de 7 die zich in 1845 lieten dopen in Gasselternijveen!</dd>
    <dt>1948</dt>
    <dd>De Europese Baptisten Federatie wordt opgericht, waar ook de Nederlandse baptisten deel van uitmaken.</dd>
    <dt>1946-1970</dt>
    <dd>Er ontstaan bijna 30 nieuwe baptistengemeenten in Nederland. Het aantal gemeenteleden in Uniegemeenten stijgt in deze tijd van bijna 6000 tot ruim 9600. Daarnaast komen vele gelovigen bijeen in baptistengemeenten die niet bij de Unie aangesloten zijn.</dd>
    <dt>Oktober 1973</dt>
    <dd>Bij Koninklijk Besluit wordt toestemming verleend tot het vestigen van een bijzondere leerstoel in de Geschiedenis en de Leerstellingen van het Baptisme, aan de Utrechtse universiteit.</dd>
    <dt>1973 tot heden</dt>
    <dd>In deze tijd zijn er ongeveer 130 baptistengemeenten in Nederland. Ongeveer 40 onafhankelijke baptistengemeenten, met tezamen meer dan 4100 leden. Wereldwijd vormen de baptisten de grootste niet-katholieke denominatie. De bekendste baptist van onze tijd is wel de Amerikaanse evangelist Billy Graham.</dd>
  </dl>
  <h2>De Fontein</h2>
  <p>In 1973 wordt de Evangelische Zendingsgemeente gesticht in Middelburg.</p>
  <p>In 1976 wordt de naam gewijzigd in Evangelische Baptistengemeente Middelburg.</p>
  <p>In 1980 wordt de naam van de gemeente opnieuw gewijzigd en heet nu Baptistengemeente ‘De Fontein’ Middelburg</p>
  <p>Uitgebreide informatie over baptisme: <a href="/static/docs/baptisme-historie.pdf">Baptisme</a> (pdf)</p>
  <h2>Bronnen</h2>
  <ul>
    <li>Van Dam, J.: Geschiedenis van het Baptisme in Nederland (1979)</li>
    <li>Impeta, C.N.: Kaart van Kerkelijk Nederland (1961)</li>
    <li>Vries, J. de: Waarom laat een christen zich dopen? (ca. 1975)</li>
    <li>Internet, WikiPedia: Baptisme</li>
    <li>Internet, Baptisten Startpagina</li>
  </ul>
</div>{{end}}
