{{define "main"}}<div class="page prose">
  <h1>Over ons</h1>
  <p>In deze wereld lijkt het vaak allemaal zo doelloos. De mens wordt geboren en sterft ook weer. En ook in dit mensenleven is niet alles even fijn.</p>
  <p>Wij geloven dat God een plan, een doel, met deze wereld heeft en dat Hij een plan voor jou heeft.</p>
  <p>De oorzaak van het doelloze, het zinloze, het lijden en sterven ligt in de zonde die de wereld in gekomen is.</p>
  <p>De oplossing is te vinden in Jezus Christus, de zoon van God. Door Jezus te kennen wordt het leven waardevol en krijgt het een doel!</p>
  <p>Daarom hebben we hart voor Jezus, maar ook hart voor jou!</p>
  <p>We willen naar je luisteren, met je meeleven, je helpen bij het opbouwen van je geloof, voor je bidden of praktische hulp verlenen.</p>
  <p>Wil je meer weten of een gesprek? Neem gerust <a href="mailto:info@kerkdefontein.nl">contact</a> op met ons.</p>

  <h2 id="wie-zijn-wij">Wie zijn wij?</h2>
  <p>Onze gemeente wil je helpen met het christelijk geloof (= vertrouwen); Door de kracht van de Heilige Geest vereren wij God de Vader, volgen wij Jezus Christus, zijn Zoon, en verkondigen wij het Evangelie tot redding van mensen. Klinkt dit fantastisch? Ga op ontdekkingstocht, wij helpen u op de belangrijkste weg in uw leven.</p>
  <p>Dit doen we o.a. door wekelijkse samenkomsten op het gebied van lofprijzing en aanbidding en de verkondiging van het Woord.</p>
  <p>Ook kun je deelnemen aan de bijbelstudie avond waarin diverse onderwerpen aan bod komen ter verduidelijking en onderwijzing vanuit de Schrift, Gods onfeilbare Woord. In veel wijken van de stad zijn ook huiskringen waaraan je kunt deelnemen en waar kringleden naar elkaar omzien in soms moeilijke omstandigheden.</p>
  <p>Een aantal gemeenteleden doet ook zendingswerk in verre landen en we ondersteunen enkele christelijke organisaties.</p>

  <h2 id="waar-staan-we-voor">Waar staan we voor?</h2>
  <p>Als geloofsgemeenschap staan wij in de lange en eeuwenoude traditie van bijbelgetrouwe christenen die geloven in God, in de vergeving en de verzoening door Jezus Christus; in Gods werk in ons door de Heilige Geest en in Gods Woord, de Bijbel, als onfeilbaar en betrouwbaar richtsnoer voor ons leven. We vormen een aparte en zelfstandige gemeente, niet omdat we ons willen afscheiden van anderen, maar omdat we geloven ook een eigen roeping en visie te hebben. Onze Baptistengemeente is er één met een evangelische signatuur. We willen geen kerkmuren optrekken of vasthouden aan tradities maar kijken juist graag over de kerkmuren heen op zoek naar wat ons samenbindt; onze liefde voor Jezus Christus.</p>

  <h2 id="missie">Missie</h2>
  <p>Door de kracht van de Heilige Geest:</p>
  <ul>
    <li>vereren wij God de Vader,</li>
    <li>volgen wij Jezus Christus, Zijn Zoon,</li>
    <li>verkondigen wij het Evangelie tot redding van mensen.</li>
  </ul>
  <p>Dit betekent:</p>
  <ul>
    <li>God neemt de eerste plaats in ons leven in en Hem willen wij vol overgave eren in woord en daad.</li>
    <li>Wij zijn aan elkaar gegeven om elkaar op te bouwen, toe te rusten en voor elkaar te zorgen.</li>
    <li>Wij zijn toegewijd om de samenkomsten en kringen te bezoeken, onze gegeven gaven en talenten in te zetten, en gemotiveerd om de gemeente financieel te ondersteunen.</li>
    <li>Wij vertellen graag aan anderen wie Jezus is en wat Hij voor ons betekent. Daarom zijn wij actief in evangelieverkondiging, diaconaat en zending.</li>
  </ul>

  <h2 id="waarden">Waarden</h2>
  <p>Wat is onze roeping als gemeente? Welke plek geeft God ons en voor welke uitdagingen staan we met z’n allen? Wie en wat willen we zijn als Baptistengemeente De Fontein? Wat is onze droom, onze visie? Waar willen we samen naar toe groeien en ons voor inzetten? Samengevat in een aantal speerpunten:</p>
  <ul>
    <li>een gemeente waar de Bijbel, als Woord van God, grondslag is van leer en leven van de gemeente en haar leden.</li>
    <li>een gemeente waar je op basis van je geloof wordt gedoopt en daarmee ook lid wordt.</li>
    <li>een gemeente waar levens veranderen en opgebouwd worden in een persoonlijke relatie met Jezus Christus.</li>
    <li>een gemeente waar kringen de basis vormen van het gemeenteleven en waar ruimte is voor specifieke doelgroepen.</li>
    <li>een gemeente waar liefdevol naar elkaar wordt omgezien en die transparant is naar binnen en naar buiten.</li>
    <li>een gemeente waar het belang van het huwelijk wordt benadrukt.</li>
    <li>een gemeente waar geestelijke gaven en talenten ontdekt, ontplooid en ingezet kunnen worden.</li>
    <li>een gemeente die aanstekelijk is in haar omgeving, op zondag én doordeweeks, als gemeenschap en als individuen.</li>
    <li>een gemeente die open staat voor samenwerking met andere kerken.</li>
  </ul>
</div>{{end}}
