{{define "main"}}<div class="page prose">
  <h1>Samenkomsten</h1>
  <p>Iedere zondagmorgen om 10.00 uur komen we samen in het gebouw ‘de Hoeksteen’ in de wijk Dauwendaele te Middelburg.</p>
  <p>De prediking van Gods Woord, lofprijzing, aanbidding en voorbede nemen een belangrijke plaats in binnen onze samenkomsten.</p>
  <p>Na afloop drinken we koffie of thee.</p>
  <p>Via ons <a href="https://www.youtube.com/@defonteinmiddelburg">YouTube kanaal</a> kunt u de samenkomst live meekijken en terugkijken.</p>
</div>{{end}}
