{{define "main"}}<div class="page prose">
  <h1>Samenkomsten</h1>
  <p>Iedere zondagmorgen om 10.00 uur komen we samen in het gebouw ‘de Hoeksteen’ in de wijk Dauwendaele te Middelburg.</p>
  <p>Via ons <a href="https://www.youtube.com/@defonteinmiddelburg">YouTube kanaal</a> kunt u de samenkomst live meekijken en terugkijken.</p>

  <h2 id="welkom">Vereren, volgen en verkondigen</h2>
  <p>Wij staan klaar om je welkom te heten en op te nemen in onze gemeente. We willen je aansporen tot een actieve liefdesrelatie met God en met elkaar. Benieuwd hoe we dat doen? Bezoek onze samenkomst eens!</p>
  <h3>Je bent welkom!</h3>
  <p>Iedere zondagochtend komen we om 10.00 uur samen rondom de prediking van Gods Woord. Lofprijzing, aanbidding en voorbede nemen hierbij een belangrijke plaats in.</p>
  <p>We openen met het zingen van een aantal liederen begeleid door het combo. Na de samenzang, het welkom en de mededelingen, is er aandacht voor de kinderen in de dienst. Daarna gaan zij met de begeleiders, naar hun eigen samenkomst.</p>
  <p>Na de dienst is er ruimte om nog gezellig na te praten onder het genot van een kopje koffie of thee, met soms wat lekkers erbij.</p>

  <h2 id="avondmaal">Avondmaal</h2>
  <blockquote><p>Mattheus 26, vers 26 t/m 28 (HSV): “En terwijl zij aten, nam Jezus het brood en toen Hij het gezegend had, brak Hij het en gaf het aan de discipelen en Hij zei: Neem, eet, dit is Mijn lichaam. Hij nam ook de drinkbeker en nadat Hij gedankt had, gaf Hij hun die en zei: Drink allen daaruit, want dit is Mijn bloed, het bloed van het nieuwe verbond, dat voor velen vergoten wordt tot vergeving van zonden.”</p></blockquote>
  <p>Elke laatste zondag van de maand vieren wij het avondmaal in onze gemeente. Met het vieren hiervan gedenken we dat Jezus Christus aan het kruis is gestorven voor onze zonden. Het brood staat symbool voor Zijn lichaam, de wijn voor Zijn bloed.</p>
  <p>In onze gemeente hebben wij een ‘open avondmaal’. Dit houdt in dat gasten en vrienden van harte welkom zijn het avondmaal met ons te vieren.</p>

  <h2 id="dopen">Dopen</h2>
  <p>Dopen is met Jezus Christus begraven worden en met Hem als een nieuw mens opstaan. Diegene die Jezus zijn of haar Heer kan noemen, mag zich laten dopen. Iemand die gedoopt wordt, laat daarmee zien dat het vroegere leven voorbij is en dat hij of zij in Jezus een nieuw mens is geworden.</p>
  <p>Het dopen door onderdompeling laat dat mooi zien. Het oude leven gaat onder – is met Jezus gekruisigd en gestorven – en het nieuwe leven mét Jezus komt boven. Het oude leven wordt begraven en het nieuwe leven staat op. We dopen daarom door onderdompeling, juist omdat daarin heel goed zichtbaar wordt wat er van binnen met de dopeling is gebeurd.</p>
  <p>Vragen over dopen? Mail <a href="mailto:info@kerkdefontein.nl">info@kerkdefontein.nl</a>.</p>

  <h2 id="opdragen">Opdragen</h2>
  <p>Ook in onze gemeente dragen wij (pasgeboren) kinderen op aan God. Bij deze kinderopdracht legt de voorganger of oudste de kinderen de handen op en zegent ze in de naam van Jezus. God wordt gedankt voor deze kinderen en voor de ouder(s) aan wie ze zijn toevertrouwd. Er wordt gebeden om Gods nabijheid in het leven van de kinderen en om wijsheid voor de ouder(s) om hun kinderen op te voeden volgens de normen van het christelijk geloof. Dit gebeurt in een feestelijke dienst, te midden van de gemeente. Want wij geloven dat we als gemeenschap ook een collectieve verantwoordelijkheid hebben naar onze kleine kinderen. Dat geven we gestalte door het kinder- en jeugdwerk en natuurlijk door voor hen te bidden. Tijdens een kinder-opdraagdienst maakt de gemeente kennis met de aan hen toevertrouwde kinderen.</p>
  <p>Meestal betreft het pasgeboren kinderen. Maar vaak komt het ook voor dat ouders tot geloof komen en dan hun kinderen alsnog aan God willen opdragen. Ook daarvoor geven we graag alle ruimte.</p>
</div>{{end}}
